<!doctype html>
<html lang="en" data-view="html-view">
<head>
    <title>explore Target beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="fragment" content="!">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="error-page-view">

    <div class="error-header">
        <img class="error-header-icon" src="assets/svg/error-icon.svg" />
    </div>

    <h1 class="error-heading">We noticed your browser is looking a bit old.</h1>
    <p class="error-message">
        You'll need to download an updated browser before you can enjoy this site.
    </p>
    <ul class="error-list">
        <li><a href="https://www.google.com/intl/en-US/chrome/browser/" class="error-link" target="_blank">Google Chrome</a></li>
        <li><a href="https://www.mozilla.org/firefox/" class="error-link" target="_blank">Mozilla Firefox</a></li>
        <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank" class="error-link">Microsoft Internet Explorer</a></li>
        <li><a href="https://www.apple.com/safari/" target="_blank" class="error-link">Safari</a></li>
    </ul>

</body>
</html>
