<!DOCTYPE html>
<html>
<head>
    <title>Crowd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Android Chrome tab coloring -->
    <meta name="theme-color" content="#cc0000">
    <link rel="stylesheet" href="/css/main.css">
    {# injection of user data from node client server #}
    <script type="application/javascript">
        __manifest = {{ manifest|safe }};
    </script>
</head>
<body>
    <script src="/index.js"></script>
</body>
</html>
