<!doctype html>
<html lang="en" data-view="html-view">
<head>
    <title>explore Target beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="fragment" content="!">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="error-page-view">

    <div class="error-header">
        <img class="error-header-icon" src="assets/svg/error-icon.svg" />
    </div>

    <h1 class="error-heading">Your JavaScript is disabled.</h1>
    <p class="error-message">
        <b>Please enable JavaScript so you can enjoy all the features of our site.</b><br/><br/>When you've enabled JavaScript, <a href="/" class="error-link">try again.</a>
    </p>

</body>
</html>
