<div class="search-bar__inner">
    <a class="search-bar__icon search-bar__icon-search v-align--middle-alt focus--red" href="/search">
        <span class="icon icon-magnify"></span>
    </a>
    <label for="searchBar" class="sr-only">search ideas</label>
    <input id="searchBar" class="search-bar__input" type="text" placeholder="search" autocomplete="off"/>
    <a class="search-bar__icon search-bar__icon-x v-align--middle-alt focus--red" href="#clear">
        <span class="icon icon-x"></span>
    </a>
</div>
